
// back end environment variables
PROD_JUDGE_URI = ""
NODE_ENV = ""
JWT_SECRET = "" // I just did node -e "console.log(require('crypto').randomBytes(32).toString('hex'));" This does not seem correct, but it stopped complaining
PORT = ""
ACCESS_KEY = ""
SECRET_KEY = ""

DATABASE_NAME = ""
DATABASE_USERNAME = ""
DATABASE_PASSWORD = ""
DATABASE_HOST = ""

DB_URI = "" // Mongodb connection string

//AWS batch variables
JOB_DEFINITION = ""
JOB_QUEUE = ""

// AWS batch environment
UPLOAD_SUBMISSIONS_BUCKET = ""
EDUGATOR_API_USER = ""
EDUGATOR_API_PASS = ""
EDUGATOR_API_URL = ""
REGION_AWS = ""

//Email user and pass
SENDER_EMAIL = ""
APP_PASSWORD = ""

//AUTH token for EDUGATOR
EDUGATOR_AUTH_TOKEN = ""

CLERK_SECRET_KEY = ""